:root {
    /* main background, dropdown backgrounds */
    --dark: #171717;
    /* visualization node backgrounds, button backgrounds */
    --medium: #212427;
    /* background of main visual area */
    --main: #272b30;
    /* input field backgrounds, collapsed dropdown borders */
    --light: #3a3f44;

    /* main foreground text color */
    --foreground: #c8c8c8;
    /* makes things stand out */
    --accent: #ff7200;
    /* slightly brighter than main foreground color */
    --bright: #f1fff2;
}
/* top-level/shared elements */
body {
    font-family: sans-serif;
    color: var(--foreground);
    background-color: var(--dark);
}
a {
    text-decoration: none;
    color: var(--accent);
}
a:active {
    color: var(--bright);
}
input, select {
    color: var(--foreground);
    background-color: var(--light);
    padding: 0.25em;
    border: 1px solid var(--light);
    border-radius: 0.4em;
}
input:focus, select:focus {
    border-color: var(--accent);
    outline: none;
}
.right-align {
    text-align: right;
}
button.ui {
    color: var(--accent);
    background: linear-gradient(to bottom, var(--light), var(--medium));
    border: 2px outset var(--light);
    border-radius: 0.4em;
}
button.ui:active {
    border-style: inset;
}
button.ui:focus {
    border-color: var(--accent);
    outline: none;
}
button#debug_button {
    float: right;
}
img.icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
/* build targets */
.targetButton {
    height: 2em;
    width: 2em;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 0.5em;
}
ul.targets {
    list-style-type: none;
}
ul.targets li {
    margin: 0.25em;
    border-radius: 0.5em;
}
ul.targets a {
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
label.selected {
    font-weight: bold;
    color: var(--bright);
}
/* settings */
td.setting-label {
    text-align: right;
}
.top {
    vertical-align: top;
}
input.prec, input.length {
    width: 4em;
}
input.mprod {
    width: 4em;
}
/* factories tab */
input.beacon {
    width: 4em;
}
#totals {
    border-collapse: collapse;
}
tr.display-row td.pad, th.pad {
    padding-left: 1em;
}
tr.display-row img.recipe-icon {
    cursor: pointer;
}
tr.display-row td.pad-right {
    padding-right: 1em;
}
tr.display-row .dropdown, tr.display-row .dropdown + img.spacer {
    margin-left: 5px;
    margin-right: 5px;
}
tr.display-row td, tr.factory-header th {
    padding-top: 8px;
    padding-bottom: 8px;
}
tr.recipe-row td, tr.group-bottom-row td, tr.factory-header th {
    border-bottom: 1px solid var(--light);
}
tr.group-row td.leftmost {
    border-left: 1px solid var(--light);
}
tr.ignore img.display {
    opacity: 0.2;
}
tr.no-mods td.module * {
    display: none;
}
td.waste-hide, th.waste-hide {
    display: none;
}
span.displaylink {
    font-size: x-small;
}
/* items tab */
input.pipe {
    width: 4em;
}
input.pipeLength {
    width: 5em;
}
/* tabs */
div.tabs {
    overflow: hidden;
}

div.tabs button.tab_button {
    color: var(--accent);
    background-color: inherit;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
}

div.tabs button.tab_button:hover {
    background-color: var(--medium)
}

div.tabs button.active, div.tabs button.active:hover {
    color: var(--bright);
    background-color: var(--main);
}

div.tab {
    display: none;
    padding: 1em;
    background-color: var(--main);
}
/* visualizer */
g.node rect {
    stroke: var(--foreground);
    fill: var(--medium);
    stroke-width: 1px;
    cursor: pointer;
}
g.node div {
    text-align: center;
    cursor: pointer;
}
g.nodeHighlight rect {
    stroke: var(--accent);
}
g.edgePath path {
    stroke: var(--light);
}
g.edgePathHighlight path {
    stroke: var(--accent);
}
g.edgeLabel div {
    border: 1px solid transparent;
    border-radius: 0.4em;
    padding: 5px;
}
g.edgeLabelHighlight div {
    background-color: var(--medium);
    border-color: var(--accent);
}
div.graph {
    min-width: max-content;
    min-width: -moz-max-content;
}
/* about */
.about-content {
    max-width: 40em;
}
.about-content h3 {
    color: var(--bright);
}
/* dropdowns */
.dropdown {
    border: 2px solid var(--light);
    border-radius: 5px;
    background-color: var(--dark);
    width: 36px;
    height: 36px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}
.dropdown:hover {
    border-color: var(--accent);
    padding: 0.4em;
    position: absolute;
    z-index: 10;
    transition: height 0.1s;
    height: auto;
    width: auto;
}
.dropdown + img.spacer {
    display: none;
}
.dropdown:hover + img.spacer {
    height: 40px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}
.dropdown br, .dropdown hr {
    display: none;
}
.dropdown:hover br {
    display: inline;
}
.dropdown:hover hr {
    display: block;
    border-color: var(--accent);
    border-style: solid;
}
.dropdown input {
    position: absolute;
    top: -50;
    left: -50;
    opacity: 0;
}
.dropdown label {
    display: none;
    margin: 2px;
    opacity: 0.6;
}
.dropdown:hover label {
    display: inline-block;
}
.dropdown label:hover {
    opacity: 0.8;
}
.dropdown input:checked + label {
    opacity: 1 !important;
    display: inline-block;
}
.itemDropdown:hover {
    height: 300px;
    width: 380px;
    overflow-y: scroll;
    transition: height 0.3s;
}
/* debug */
#debug_tab table td.zero-out {
    background-color: var(--dark);
}
#debug_tab table td.ignore {
    color: var(--accent);
}
