ul.targets {
    list-style-type: none;
}
ul.targets a {
    font-size: large;
    font-weight: bold;
}
.right-align {
    text-align: right;
}
.bold {
    font-weight: bold;
}
img.icon {
    background: url(images/sprite-sheet.png);
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
}
img.spacer {
    height: 40px;
    width: 1px;
    vertical-align: middle;
}
input.mprod {
    width: 3em;
}
input.beacon {
    width: 3em;
}
tr.recipe-row img.recipe-icon {
    cursor: pointer;
}
tr.ignore img.display {
    opacity: 0.2;
}
.node rect {
    stroke: #333;
    fill: #fff;
    stroke-width: 1px;
}
.edgePath path {
    stroke: #bbb;
    stroke-width: 1px;
}
div.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

div.tabs button.tab_button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5em;
}

div.tabs button.tab_button:hover {
    background-color: #ddd;
}

div.tabs button.active {
    background-color: #ccc;
}

div.tab {
    display: none;
    padding: 1em;
    border: 1px solid #ccc;
    border-top: none;
}
.dropdown {
    border: 1px solid #ccc;
    width: 36px;
    height: 36px;
    overflow: hidden;
}
.dropdown:hover {
    position: absolute;
    z-index: 10;
    background-color: white;
    margin-top: -19px;
}
.dropdown:hover {
    height: 231px;
    transition: height 0.1s;
}
.dropdown br {
    display: none;
}
.dropdown:hover br {
    display: inline;
}
.dropdown input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.dropdown label {
    display: none;
    margin: 2px;
    height: 32px;
    opacity: 0.5;
}
.dropdown:hover label {
    display: inline;
}
.dropdown label:hover {
    opacity: 0.7;
}
.dropdown input:checked + label {
    opacity: 1 !important;
    display: inline;
}
.shortDropdown:hover {
    height: 132px;
}
.itemDropdown:hover {
    height: 300px;
    width: 380px;
    overflow-y: scroll;
    transition: height 0.3s;
}
